.petition-form__poem-preview {
  grid-area: output;
  width: 411px;
  margin: 0 0 26px 0;
  padding: 34px 0 0 49px;
  background: url("../../images/poem_background.svg") no-repeat center;
  border-image-outset: 30px;
}


@media screen and (max-width: 1024px) {
  .petition-form__poem-preview {
    background: unset;
    /*background: url("../../images/blots_petition_tablet.svg") no-repeat center;*/
    padding: 0 0 0 0;
    width: 344px;
    /*position: relative;*/
    /*margin-left: -50px;*/
  }
}


@media screen and (max-width: 500px) {
  .petition-form__poem-preview {
    background: unset;
    /*background: url("../../images/blots_petition_tablet.svg") no-repeat center;*/
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 253px;
    /*position: relative;*/
    /*margin-left: -50px;*/
  }
}

.petition-form__poem-preview-title {
  margin: 66px 0 0 14px;
  padding: 0 0 0 0;
  width: 344px;
  justify-self: center;
  /*border: 1px solid red;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #000000
}

@media screen and (max-width: 1024px) {
  .petition-form__poem-preview-title {
    margin: 63px 0 0 0;
  }
}


@media screen and (max-width: 500px) {
  .petition-form__poem-preview-title {
    width: auto;
    margin: 63px 0 0 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
  }
}


.petition-form__poem-box-default {
  margin: 2px 0 0 0;
  padding: 0 0 0 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(106, 95, 95, 1);
  text-align: left;

}


@media screen and (max-width: 1024px) {
  .petition-form__poem-box-default {
    margin: -16px 0 0 49px;
  }
}


@media screen and (max-width: 500px) {
  .petition-form__poem-box-default {
    margin: -20px 0 0 0;
    font-size: 12px;
    line-height: 18px;
  }
}

.petition-form__poem-box {
  padding: 13px 5px 5px 16px;
  width: 344px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  overflow: hidden;


}


@media screen and (max-width: 1024px) {
  .petition-form__poem-box {
    /*border: 1px solid red;*/
    padding: 16px 0 0 0;
    margin: 16px 0 0 -47px;
    width: 390px;
    height: 255px;
    position: relative;
    background: url("../../images/blots_petition_tablet.svg") no-repeat center;
  }
}



@media screen and (max-width: 500px) {
  .petition-form__poem-box {
    width: 280px;
    margin: 16px 0 0 0;
    height: 220px;
    font-size: 12px;
    line-height: 18px;
    background: url("../../images/blots_mobile.svg") no-repeat center;
    /*overflow: unset;*/
  }
}

.petition-form__poem-all-lines {

}

@media screen and (max-width: 1024px) {
  .petition-form__poem-all-lines {
    margin: 0 0 0 43px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}


@media screen and (max-width: 500px) {
  .petition-form__poem-all-lines {
    margin: 0 0 0 43px;
    padding: 0 0 0 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

/*.petition-form__poem-box-blots {*/
/*  display: none;*/
/*}*/

/*@media screen and (max-width: 950px) {*/
/*  .petition-form__poem-box-blots {*/
/*    !*position: absolute;*!*/
/*    !*top: 0;*!*/
/*    !*left: 0;*!*/
/*    border: 10px solid red;*/
/*    width: 340px;*/
/*    height: 200px;*/
/*    z-index: 100;*/
/*  }*/
/*}*/



.petition-form__poem-line {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


.petition-form__poem-line_animation-out {
  animation: poem-animation-out 2s linear both;
}


@keyframes poem-animation-out {
  0% {
    opacity: 1;
    color: black;
    font-size: 13px;
  }
  100% {
    opacity: 0;
    color: orange;
    font-size: 6px;
  }
}


.petition-form__poem-line_animation {
  animation: poem-animation-in 2s linear both;
}


@keyframes poem-animation-in {
  0% {
    opacity: 0.1;
    color: orange;
    font-size: 6px;
  }
  100% {
    opacity: 1;
    color: black;
    font-size: 16px;
  }
}


@media screen and (max-width: 500px) {
  .petition-form__poem-all-lines {
    margin: -14px 0 0 0;
  }


  .petition-form__poem-line_animation {
    animation: poem-animation-in 2s linear both;
  }


  @keyframes poem-animation-in {
    0% {
      opacity: 0.1;
      color: orange;
      font-size: 6px;
    }
    100% {
      opacity: 1;
      color: black;
      font-size: 12px;
    }
  }
}