.petition-form__default-picture-title {
  margin: 30px 0 0 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}


@media screen and (max-width: 500px) {
  .petition-form__default-picture-title {
    margin: 21px 0 0 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
}



.petition-form__default-pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px 0 0 0;
}


@media screen and (max-width: 500px) {
  .petition-form__default-pictures {
    margin: 12px 0 0 0;
  }
}


/*@media screen and (max-width: 253px) {*/
/*  .petition-form__default-pictures {*/
/*    width: 253px;*/
/*  }*/
/*}*/