
.petition-form__default-picture {
  overflow: hidden;
  object-fit: cover;
  width: 104px;
  height: 96px;
  background: #C4C4C4;
  border-radius: 16px;
}



@media screen and (max-width: 500px) {
  .petition-form__default-picture {
    width: 76px;
    height: 70px;
  }
}



.petition-form__default-picture_cursor {
  cursor: pointer;
}


.petition-form__default-picture:first-child {
  margin-right: 16px;
}

.petition-form__default-picture:last-child {
  margin-left: 16px;
}
