.popup__success {
  padding: 0 0 200px 0;
  max-width: 360px;
  position: relative;
}

.popup__success-header {
  font-family: 'Montserrat', serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.22px;
}

.popup__success-text {
  font-family: 'Montserrat', serif;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.popup__success-text_narrow {
  padding: 0 50px;
}

.popup__success-image {
  position: relative;
  top: -30px;
}
