.header__list {
    list-style: none;
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.header__list_visible {
    display: flex;
}

.header__list_hidden {
    display: none;
}

.header__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__list-link {
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    color: #000;
    padding: 8px 8px 10px 0;
    margin: 0 40px;
}

.header__list-link:hover {
    color: #EE6A4D
}

.header__list-link:active {
    font-size: 18px;
    color:#D84444;
    transition: font-size, color 0.4s ease-out;
}

.header__hamburger-open {
    display: none;
}

.header__hamburger-open:focus {
    border: none;
    outline: none;
}

.header__hamburger {
    width: 100vw; /**/
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 15;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.97));
    transition: visibility 0.4s ease-out;
    padding-bottom: 35px;
}

.header__hamburger_visible {
    visibility: visible;
    transition: visibility 0.4s ease-out;
}

.header__list-hamburger {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    padding: 10px 0 0 40px;
    margin: 0;
}

.header__list-item-hamburger {
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 0 10px 0;
    color: #000;
    white-space: nowrap;
}

.header__list-link-hamburger {
    text-decoration: none;
    color: #454141;
    overflow: hidden;
    white-space: nowrap;
}

.header__hamburger-close {
    width: 23px;
    height: 23px;
    border: none;
    background-color: #fff;
    object-fit: fill;
    margin: 20px 0 0 5px;
    padding: 0;
}

.header__hamburger-close:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.4s ease-out;
}

.header__hamburger-close:focus {
    border: none;
    outline: none;
}

.header__hamburger-close-btn {
    width: 24px;
    height: 24px;
    background-color: #fff;
    margin-left: 28px;
}

.header__hamburger-cross-left {
    height: 24px;
    width: 1px;
    margin-left: 12px;
    background-color: black;
    transform: rotate(45deg);
    Z-index: 1;
}

.header__hamburger-cross-right {
    height: 24px;
    width: 1px;
    background-color: black;
    transform: rotate(90deg);
    Z-index: 2;
}

.header__nickname-hamburger {
    display: none;
}

.header__nickname-hamburger_visible {
    display: block;
}

.header__nickname-text_hamburger {
    margin: 20px 0  0 40px;
}

.header__nickname-title_hamburger {
    font-size: 12px;
    line-height: 14px;
    color: #000;
}

.header__nickname_hamburger {
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
}

@media screen and (max-width: 1050px) and (min-width: 501px) {
    .header__list-link{
        font-size: 18px;
        line-height: 24px;
        padding: 8px 8px 10px 0;
        margin: 0 10px;
    }
}

@media screen and (max-width: 760px)  {
    .header__list {
        grid-row-start:1;
        grid-row-end:1;
        grid-column-start:2;
        grid-column-end: 2;
    }
}

@media screen and (min-width: 501px) {
    .header__hamburger {
        display: none;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 500px) {
    .header__list {
        display: none;
    }

    .header__hamburger-open {
        display: block;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start:1;
        grid-column-end: 1;
        justify-self: center;
        width: 23px;
        height: 23px;
        border: none;
        background: transparent;
    }

    .header__hamburger-open:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.4s ease-out;
    }
}
