.petition-form__user-picture-element {
  margin: 0 0 0 0;
  position: relative;
  width: 344px;
  height: 190px;
  border-radius: 16px;
  box-sizing: border-box;
}



@media screen and (max-width: 500px) {
  .petition-form__user-picture-element {
    width: 253px;
    height: 140px;
  }
}


.petition-form__anonymous-user-msg {
  margin: 20px 0 0 0;
  padding: 0 0 0 0;
}


.petition-form__anonymous-user-msg-text {
  margin: 5px 0 0 0;
  padding: 0;
}

.petition-form__anonymous-user-msg-link {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.petition-form__anonymous-user-msg-link:hover {
  opacity: 0.6;
  transition: 2s ease;
}


.petition-form__user-picture {
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  /*position: relative;*/
  width: 344px;
  height: 190px;
  border-radius: 16px;
  box-sizing: border-box;
}


@media screen and (max-width: 500px) {
  .petition-form__user-picture {
    width: 253px;
    height: 134px;
  }
}




.petition-form__picture {
  display: none;
}

.petition-form__button {
  position: absolute;
  width: 66px;
  height: 66px;
  margin: 0;
  padding: 0;
  background: url("../../images/feather_download.svg") no-repeat;
  border: none;
  top: 79px;
  left: 136px;
  cursor: pointer;
}


@media screen and (max-width: 500px) {
  .petition-form__button {
    top: 64px;
    left: 107px;
    background: url("../../images/pic_download_mobile.svg") no-repeat;
  }
}



.petition-form__button:focus {
  border: none;
  outline: none;
}

.petition-form__button:active {
  border: none;
}

.petition-form__button:hover {
  border: none;
}

.petition-form__button:visited {
  border: none;
}


.petition-form__picture_invisible {
  display: none;
}

.petition-form__button-text {
  position: absolute;
  top: 54px;
  left: 88px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #759196;
}


@media screen and (max-width: 500px) {
  .petition-form__button-text {
    font-size: 12px;
    line-height: 15px;
    top: 39px;
    left: 64px;
  }
}





.petition-form__pic-upload-link {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.petition-form__pic-upload-link:hover {
  opacity: 0.6;
  transition: 2s ease;
}


.petition-form__progress-bar {
  position: absolute;
  top: 70px;
  left: 150px
}

.petition-form__progress-bar_invisible {
  display: none;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.petition-form__progress-bar-loader{
  animation: spin 5s linear 0s infinite;
}

.petition-form__delete-btn {
  width: 16px;
  height: 17px;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
  cursor: pointer;
}

.petition-form__delete-btn_invisible {
  display: none;
}
