.future-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 1280px;
}

.future-page__header {
  background-color: burlywood;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.future-page__link {
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: opacity .5s linear;
}

.future-page__link:hover {
  opacity: .7;
}