.petition-card {
  display: flex;
  flex-direction: row;
  /* max-width: 800px; 
  min-height: 450px; */
  width: 90%;
  border: 1px solid grey;
  background-color: white;
  border-radius: 20px;
  /* margin: auto; */
  margin: 0;
}

.petition-card__image {
  object-fit: cover;
  width: 400px;
  height: 450px;
  border-radius: 20px 0 0 20px;
}

.petition-card__info {
  display: grid;
  width: 400px;
  align-items: center;
  /* grid-template-rows: 80px 80px 1fr 80px; */
}

.petition-card__timestamp {
  grid-row: 1;
  grid-column: 1/3;
  margin: 0;
  padding: 0 0 0 40px;
  text-align: left;
}

.petition-card__moderation {
  grid-row: 1;
  grid-column: 3;
}

.petition-card__moderation_in-progress {
  color: red;
}

.petition-card__moderation_done {
  color: green;
}

.petition-card__reaction {
  box-shadow: none;
  background: none;
  border: 1px solid grey;
  max-width: 80px;
  margin: 0;
  padding: 0;
}

.petition-card__reaction_type_like {
  grid-row: 4;
  grid-column: 2;
}

.petition-card__reaction_type_dislike {
  grid-row: 4;
  grid-column: 3;
}

.petition-card__tag {
  grid-row: 2;
  grid-column: 1/4;
  margin: 0;
  padding: 0 0 0 40px;
  text-align: left;
  font-size: 20px;
  line-height: 1.2;
}

.petition-card__poem {
  grid-row: 3;
  grid-column: 1/4;
  padding: 0 0 0 40px;
  margin: 0;
  list-style: none;
  text-align: left;
  font-size: 14px;
  line-height: 1.2;
  align-self: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.petition-card_is-own {
  grid-row: 4;
  grid-column: 1;
}

@media screen and (max-width: 768px) {
  .petition-card {
    flex-direction: column;

  }

  .rec-arrow {
    display: none;
  }
  .petition-card__image {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  .petition-card__info {
   width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .petition-card__image {
    height: 300px;
  }

  .petition-card__moderation {
    grid-row: 2;
    grid-column: 1/3;
  }
  .petition-card__tag {
    grid-row: 3;
  }
  .petition-card__poem {
    grid-row: 4;
    padding: 5px;
  }

  .petition-card_is-own {
    grid-row: 5;
  }

  .petition-card__reaction_type_like {
    grid-row: 6;
    grid-column: 1;
  }
  .petition-card__reaction_type_dislike {
    grid-row: 6;
    grid-column: 2;
  }
}