.petition-card {
  display: flex;
  flex-direction: row;
  width: 860px; 
  height: 450px;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 10px rgba(0,0,0,0.25));
  background-color: white;
  margin: 0;
  position: relative;
  align-self: center;
}
.rec-item-wrapper {
  min-height: 460px;
}
.petition-card__image {
  object-fit: cover;
  width: 418px;
  height: 450px;
  border-radius: 16px 0 0 16px;
}

.petition-card__info {
  display: grid;
  width: 418px;
  align-items: flex-start;
  justify-items: baseline;
  box-sizing: border-box;
  padding: 36px 49px 31px 51px;
}

.petition-card__name {
  grid-row: 1;
  grid-column: 1/3;
  margin: 0;
  padding: 0;
  text-align: start;
  max-width: 210px;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 1.22;
}

.petition-card__timestamp {
  grid-row: 2;
  grid-column: 1/3;
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.22;
  color: #759196;
  display: flex;
  width: 210px;
  justify-content: space-between;
  align-items: flex-end;
}

.petition-card__moderation {
  margin: 0;
  padding: 0 0 0 6px;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 1.22;
  color: #759196;
}

.petition-card__moderation_in-progress {
  display: block;
}

.petition-card__moderation_done {
  display: none;
}

.petition-card__challenge-container {
  grid-row: 6;
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.petition-card__challenge {
  margin: 0 0 0 18.42px;
  padding: 0;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 1.22;
}

.petition-card__like-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-row: 5;
  grid-column: 1/3;
  max-height: 25px;
  margin-bottom: 9px;
}

.petition-card__like-text {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 1.22;
}

.petition-card__like-text_count {
  font-size: 20px;
}

.petition-card__like {
  box-shadow: none;
  background: none;
  border: none;
  height: 24.17px;
  width: 24.17px;
  margin: 0 5.42px 0 18.42px;
  padding: 0;
  background: center/contain url('../../images/like.svg') no-repeat white;
}

.petition-card__like_active {
  background: center/contain url('../../images/like-active.svg') no-repeat white;
}

.petition-card__like_inactive {
  background: center/contain url('../../images/like.svg') no-repeat white;
}

.petition-card__like:hover{
  background: center/contain url('../../images/likeHover.svg') no-repeat white;
}

.petition-card__like:active {
  background: center/contain url('../../images/likeClick.svg') no-repeat white;
}

.petition-card__tag {
  grid-row: 3;
  grid-column: 1/3;
  margin: 0;
  padding: 37px 0 0 0;
  box-sizing: border-box;
  text-align: left;
  font-size: 32px;
  line-height: 1.22;
  font-weight: 500;
  font-style: normal;
}

.petition-card__poem {
  grid-row: 4;
  grid-column: 1/3;
  padding: 12px 0 36px;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-align: left;
  font-size: 14px;
  line-height: 1.2;
  max-width: 343px;
  align-self: start;
  max-height: 192px;
  overflow: scroll;
}

.petition-card__poem-line {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.petition-card__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  box-shadow: none;
  font-size: 24px;
  width: 28px;
  height: 28px;
  background: center/contain url('../../images/delete-button.svg') no-repeat;
}

.petition-card__delete-button_inactive {
  display: none;
}

.petition-card__delete-button_active {
  display: block;
  background: center/contain url('../../images/delete-button.svg') no-repeat;
}

.petition-card__delete-button:hover {
  background: center/contain url('../../images/deleteHover.svg') no-repeat;
}

.petition-card__delete-button:active {
  background: center/contain url('../../images/deleteClick.svg') no-repeat;
}

@media screen and (min-width:835px) and (max-width: 1024px) {
  .petition-card {
    width: 644px;
    height: 328px;
  }

  .petition-card__image {
    width: 322px;
    height: 328px;
  }

  .petition-card__info {
    width: 322px;
    height: 328px;
    padding: 28px 35px 22px 37px;
  }

  .petition-card__name {
    font-size: 12px;
    margin-bottom: 4px;
    max-width: 150px;
  }

  .petition-card__timestamp {
    font-size: 12px;
  }

  .petition-card__tag {
    font-size: 24px;
    padding-top: 24px;
  }

  .petition-card__poem {
    padding: 8px 0 31px;
    max-height: 104px;
  }

  .petition-card__poem-line {
    font-size: 12px;
  }

  .petition-card__moderation {
    font-size: 12px;
  }

  .petition-card__like-text {
    font-size: 12px;
  }

  .petition-card__like {
    width: 18px;
    height: 18px;
    margin: 0 3.4px 0 9.75px;
  }

  .petition-card__challenge {
    font-size: 12px;
    margin-left: 8px;
  }
  
}

@media screen and (min-width: 481px) and (max-width: 834px) {
.rec-arrow {
    display: none;
  }

  .petition-card__image {
    border-radius: 20px 20px 0 0;
  }
  .petition-card__info {
   min-height: 400px;
  }
}


@media screen and (max-width: 480px) {
  .petition-card__image {
    height: 300px;
  }
  .petition-card__info {
    min-height: 300px;
   }

   .petition-card__poem {
     font-size: 12px;
   }

   .petition-card__like {
     grid-row: 7;
     grid-column: 1;
   }

   .petition-card__challenge {
    grid-row: 6;
    grid-column: 1;
   }
}