.petition-card {
  display: flex;
  flex-direction: row;
  width: 860px; 
  height: 450px;
  border-radius: 16px;
  filter: drop-shadow(0px 1px 5px rgba(0,0,0,0.2));
  /* box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.15); */
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  position: relative;
  align-self: center;
}
.rec-item-wrapper {
  min-height: 460px;
}
.petition-card__image {
  object-fit: cover;
  width: 418px;
  height: 450px;
  border-radius: 16px 0 0 16px;
}

.petition-card__info {
  display: grid;
  width: 418px;
  align-items: flex-start;
  justify-items: baseline;
  box-sizing: border-box;
  padding: 36px 49px 31px 51px;
  /* grid-template-rows: repeat(6, min-content); */
}

.petition-card__name {
  grid-row: 1;
  grid-column: 1/3;
  margin: 0;
  padding: 0;
  text-align: start;
  max-width: 210px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 1.22;
}

.petition-card__timestamp {
  grid-row: 2;
  grid-column: 1/3;
  margin: 8px 0 0 0;
  padding: 0;
  text-align: left;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.22;
  color: #759196;
  display: flex;
  width: 210px;
  justify-content: space-between;
  align-items: flex-end;
}

.petition-card__moderation {
  margin: 0;
  padding: 0 0 0 6px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 1.22;
  color: #759196;
}

.petition-card__moderation_in-progress {
  display: block;
}

.petition-card__moderation_done {
  display: none;
}

.petition-card__challenge-container {
  grid-row: 6;
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.petition-card__challenge-container_visible {
  display: flex;
}

.petition-card__challenge-container_hidden {
  display: none;
}

.petition-card__challenge {
  margin: 0 0 0 18.42px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 1.22;
}

.petition-card__like-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  grid-row: 5;
  grid-column: 1/3;
  max-height: 25px;
  position: relative;
}

.petition-card__like-container_visible {
  display: flex;
}

.petition-card__like-container_hidden {
  display: none;
}

.petition-card__like-text {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 1.22;
}

.petition-card__like-text_count {
  font-size: 20px;
}

.petition-card__like {
  box-shadow: none;
  background: none;
  border: none;
  height: 24.17px;
  width: 24.17px;
  margin: 0 5.42px 0 18.42px;
  padding: 0;
  background: center/contain url('../../images/like.svg') no-repeat white;
}

.petition-card__like_active {
  background: center/contain url('../../images/like-active.svg') no-repeat white;
}

.petition-card__like_inactive {
  background: center/contain url('../../images/like.svg') no-repeat white;
}

.petition-card__like:hover{
  background: center/contain url('../../images/likeHover.svg') no-repeat white;
}

.petition-card__like:active {
  background: center/contain url('../../images/likeClick.svg') no-repeat white;
}

.petition-card__like:disabled {
  background: center/contain url('../../images/like.svg') no-repeat white;
  opacity: 0.2;
}

.petition-card__tag {
  grid-row: 3;
  grid-column: 1/3;
  margin: 0;
  padding: 37px 0 8px 0;
  box-sizing: border-box;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  line-height: 1.22;
  font-weight: 500;
  font-style: normal;
}

.petition-card__poem {
  grid-row: 4;
  grid-column: 1/3;
  /* padding: 12px 0 36px; */
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  /* line-height: 1.2; */
  max-width: 343px;
  align-self: start;
  height: 192px;
  overflow-y: scroll;
  /* box-shadow: inset 0px -10px 40px red; */
}

::-webkit-scrollbar {
  display: none;
}

.petition-card__poem-blur{
  content: '';
  position: absolute;
  width: 100%;
  height: 1.2em;
  top: -15px;
  right: 0px;
  /* filter:blur(10px); */
  background: linear-gradient(171.77deg, rgba(255, 255, 255, 0) -24.44%, rgba(255, 255, 255, 0.9) 72.73%);
  z-index: 10;
}

.petition-card__poem-line {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.petition-card__poem-line:last-child {
  padding-bottom: 30px;
}

.petition-card__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  box-shadow: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  width: 28px;
  height: 28px;
  background: center/contain url('../../images/deleteButton.svg') no-repeat;
}

.petition-card__delete-button_inactive {
  display: none;
}

.petition-card__delete-button_active {
  display: block;
  background: center/contain url('../../images/deleteButton.svg') no-repeat;
}

.petition-card__delete-button:hover {
  background: center/contain url('../../images/deleteButtonHover.svg') no-repeat;
}

.petition-card__delete-button:active {
  background: center/contain url('../../images/deleteButtonClick.svg') no-repeat;
}

@media screen and (min-width:768px) and (max-width: 1024px) {
  .petition-card {
    width: 644px;
    height: 328px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
  }

  .petition-card__image {
    width: 322px;
    height: 328px;
  }

  .petition-card__info {
    width: 322px;
    height: 328px;
    padding: 28px 35px 22px 37px;
  }

  .petition-card__name {
    font-size: 12px;
    margin-bottom: 4px;
    max-width: 150px;
  }

  .petition-card__timestamp {
    font-size: 12px;
    margin-top: 4px;
  }

  .petition-card__tag {
    font-size: 24px;
    padding-top: 24px;
  }

  .petition-card__poem {
    /* padding: 8px 0 31px; */
    height: 135px;
    max-width: 250px;
  }

  .petition-card__poem-line {
    font-size: 12px;
  }

  .petition-card__moderation {
    font-size: 12px;
  }

  .petition-card__like-text {
    font-size: 12px;
  }

  .petition-card__like {
    width: 18px;
    height: 18px;
    margin: 0 3.4px 0 9.75px;
  }

  .petition-card__challenge {
    font-size: 12px;
    margin-left: 8px;
  }
  
  .petition-card__like-text_count {
    font-size: 16px;
  }

  .petition-card__delete-button {
    width: 24px;
    height: 24px;
    right: 16px;
    top: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  button.rec-arrow {
    display: none;
  }

  .petition-card {
    flex-direction: column;
    width: 214px;
    min-height: 457px;
    box-shadow: 1px 0.1px 0 0.5px rgba(0,0,0,0.15);
  }

  .petition-card__image {
    border-radius: 16px 16px 0 0;
    width: 214px;
    height: 173px;
  }
  .petition-card__info {
   max-width: 214px;
   height: 284px;
   padding: 16px 22px 24px 26px;
  }

  .petition-card__name {
    font-size: 8px;
    margin-bottom: 4px;
    max-width: 120px;
  }

  .petition-card__timestamp {
    font-size: 8px;
    margin-top: 4px;
  }

  .petition-card__tag {
    font-size: 16px;
    padding-top: 16px;
  }

  .petition-card__poem {
    /* margin: 8px 0 21px 0; */
    height: 141px;
    max-width: 166px;
  }

  .petition-card__poem-line {
    font-size: 10px;
    line-height: 1.2;
  }

  .petition-card__moderation {
    font-size: 8px;
  }

  .petition-card__like-text {
    font-size: 8px;
  }

  .petition-card__like {
    width: 11.98px;
    height: 12.17px;
    margin: 0 2.61px 0 5.15px;
  }

  .petition-card__challenge-container {
    margin-top: 4.68px;
  }

  .petition-card__challenge {
    font-size: 8px;
    margin-left: 8px;
  }
  
  .petition-card__like-text_count {
    font-size: 10px;
  }

  .petition-card__delete-button {
    width: 16px;
    height: 16px;
    right: 13px;
    top: 13px;
  }
}
