.petitions-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}

.petitions-page__petitions {
  display: grid;
  grid-gap: 40px;
  justify-content: center;
  margin-bottom: 180px;
}

.petitions-page__title {
  font-weight: 600;
  font-style: normal;
  font-size: 45px;
  line-height: 1.22;
  color: black;
  padding: 35px 0 39px;
  margin: 0;
}

.petitions-page__count {
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  line-height: 1.22;
  margin: 0;
  padding: 0 0 31px 0;
  width: 100%;
  max-width: 860px;
  text-align: left;
}

.petitions-page__return-link {
  text-align: left;
  text-decoration: none;
  color: black;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  position: fixed;
  top: 156.41px;
  left: 67px;
  width: 36px;
  height: 30px;
  background: center/contain url('../../images/back.svg') no-repeat;
}

.petitions-page__return-link:hover {
  background: center/contain url('../../images/backHover.svg') no-repeat;
}

.petitions-page__return-link:active {
  background: center/contain url('../../images/backClick.svg') no-repeat;
}

@media screen and (min-width:768px) and (max-width: 1024px) {
  .petitions-page__title {
    font-size: 38px;
    padding: 32px 0 24px;
  }

  .petitions-page__petitions {
    grid-gap: 72px;
    margin-bottom: 72px;
  }

  .petitions-page__count {
    max-width: 644px;
    font-size: 20px;
    padding: 0 0 16px 0;
  }

  .petitions-page__return-link {
    top: 121px;
    left: 37px;
  }
}

@media screen and (min-width:320px) and (max-width: 767px) {
  .petitions-page__title {
    font-size: 20px;
    padding: 22px 0 32px;
  }

  .petitions-page__petitions {
    grid-gap: 64px;
    margin-bottom: 64px;
  }

  .petitions-page__count {
    max-width: 216px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 16px 0;
  }

  .petitions-page__return-link {
    width: 23px;
    height: 17.83px;
    top: 89.91px;
    left: 16px;
  }
}
