.statistic {
    margin: -400px auto 0;
}

.statistic__card {
    height: 385px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistic__card_place_one {
    background-image: url("../../images/statistic-1.svg");
}

.statistic__card_place_two {
    background-image: url("../../images/statistic-2.svg");
}

.statistic__card_place_three {
    background-image: url("../../images/statistic-3.svg");
}

.statistic__list {
    background-repeat: no-repeat;
    margin: 0 auto 0;
    background-size: contain;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px,385px));
}

.statistic__text-content {
    max-height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.statistic__card-text {
    padding: 0;
    margin: auto;
    font-family: 'Montserrat',  sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    max-width: 171px;
}

.statistic__card-digits {
    opacity: 0;
    padding: 0;
    margin: auto;
    font-family: 'Montserrat',  sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: 400;
    max-width: 146px;
}

.statistic__card-digits_visible {
    opacity: 1;
    transition: opacity 0.4s linear;
}

@media screen and (max-width: 1370px) {
    .statistic {
        margin-top: -300px;
    }
}

@media screen and (max-width: 1155px) {
    .statistic__card {
        height: calc(100vw / 3);
    }
}

@media screen and (max-width: 1117px) {
    .statistic__card-text {
        font-size: 16px;
        line-height: 19px;
        max-width: 146px;
    }

    .statistic__card-digits {
        font-size: 32px;
        line-height: 39px;
        max-width: 146px;
    }
}

@media screen and (max-width: 950px) {
    .statistic {
        margin-top: -230px;
    }
}

@media screen and (max-width: 800px) {
    .statistic {
        margin-top: -170px;
    }
}

@media screen and (max-width: 672px) {
    .statistic {
        margin-top: -170px;
    }

    .statistic__card-text {
        font-size: 11px;
        line-height: 14px;
        max-width: 146px;
    }

    .statistic__card-digits {
        font-size: 20px;
        line-height: 24px;
        max-width: 146px;
    }

    .statistic__list {
        display: flex;
        flex-direction: column;
    }

    .statistic__card {
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 572px) {
    .statistic {
        margin-top: -100px;
    }
}

@media screen and (max-width: 450px) {
    .statistic {
        margin-top: -80px;
    }

    .statistic__list {
        display: flex;
        flex-direction: column;
    }

    .statistic__card {
        height: 143px;
        width: 143px;
    }

    .statistic__text-content {
        max-width: 80px;
    }
}


