.header {
    display: grid;
    max-width: 100vw;
    align-items: center;
    border-bottom: #cbc8c8 1px solid;
    grid-template-columns: 76px 2fr 1fr 40px;
    position: relative;
    height: 100px;
    padding: 5px 30px 0 30px;
}

.header_menu-visible {
    display: grid;
}

.header_menu-hidden {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
}

.header__button {
    outline: none;
    background-color: #fff;
    border: none;
}

.header__button:hover {
    opacity: 0.8;
    transition: opacity 0.4s ease-out;
    cursor: pointer;
}
.header__button:focus {
    outline: none;
}

.header__nickname-title {
    margin: 0;
    padding: 0;
    text-align: left;
    color: #759196;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Montserrat', 'Rubik', sans-serif;
    line-height: 14.63px;
}
.header__nickname {
    margin: 0;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Montserrat', 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
}

.header__nickname-content {
    justify-self: end;
    opacity: 0;
    display: flex;
}

.header__nickname-content_visibility {
    opacity: 1;
    transition: opacity 1s linear;
}

.logo {
    padding: 0 10px 0 10px;
}

@media screen and (max-width: 500px) {
    .header {
        display:grid;
        grid-template-columns: 33px 1fr 40px;
    }

    .logo {
        grid-row-start:1;
        grid-row-end:1;
        grid-column-start:2;
        grid-column-end: 2;
        justify-self: center;
    }

    .header__nickname-content {
        display: none;
    }

    .header__button {
        grid-row-start:1;
        grid-row-end:1;
        grid-column-start:3;
        grid-column-end: 3;
    }
}

@media screen and (max-width: 1050px) and (min-width: 501px) {
    .header__nickname-content{
        display: none;
    }

    .header {
        display:grid;
        grid-template-columns: 76px  1fr 40px;
    }

    .logo {
        grid-row-start:1;
        grid-row-end:1;
        grid-column-start:1;
        grid-column-end: 1;
        justify-self: center;
    }

    .header__button {
        grid-row-start:1;
        grid-row-end:1;
        grid-column-start:3;
        grid-column-end: 3;
    }
}


.header__nickname-text{
    display: flex;
    flex-direction: column;
    padding-right: 40px;

}

.header__user-icon {
    padding-right: 16px;
}
