.petition-form {
  display: grid;
  margin: 88px auto 183px;
  grid-template-areas:
      "title title title"
      "steps input output"
      "steps button button";
}

@media screen and (max-width: 1024px) {
  .petition-form {
    display: grid;
    margin: 88px auto 60px;
    grid-template-areas:
       "title title"
       "steps input"
       "steps output"
       "steps button";
  }
}

@media screen and (max-width: 500px) {
  .petition-form {
    display: grid;
    margin: 65px auto 60px;
    grid-template-areas:
      "title"
      "input"
      "output"
      "button";
  }
}

.petition-form__title {
  margin: 20px 10px 67px 0;
  padding: 0;
  color: black;
  grid-area: title;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 57px;
  letter-spacing: 0.01em;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .petition-form__title {
    margin: 0 0 62px 38px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
  }
}

@media screen and (max-width: 500px) {
  .petition-form__title {
    margin: 0 0 41px 0;
    font-size: 22px;
    line-height: 27px;
  }
}

.petition-form__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.petition-form__steps {
  width: 82px;
  grid-area: steps;
  margin: 5px 0 0 0;
}

@media screen and (max-width: 500px) {
  .petition-form__steps {
    display: none;
  }
}

.petition-form__input {
  grid-area: input;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
