.footer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid grey;
  min-height: 100px;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__copyright {
  text-align: left;
  padding: 0 50px 0 50px;
}