.form {
  /*width: 430px;*/
  background: #fff;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 580px) {
  .form {
    width: 240px;
  }
}

.form__text-email {
  display: inline-block
}

.form__text {
  margin: 0 0 16px 0;
  padding: 0;
}

.form__submit-button {
  border: 0;
  width: 358px;
  height: 50px;
  background: transparent;
  margin: 20px 0 37px 0;
  padding: 0;
  cursor: pointer;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__submit-button:hover {
  opacity: 0.8;
  transition: opacity 0.4s ease-out;
}

.form__submit-text {
  margin-right: 10px;
  font-weight: bold;
}

.form__submit-button_disabled {
  /*pointer-events: none;*/
  /*user-select: none;*/
  /*opacity: 0.2;*/
  /*color: #000;*/
  /*background: #e5e5e5;*/
  /*border: 1px solid #000;*/
  /*box-sizing: border-box;*/
  /*border-radius: 2px;*/
}

.form__input {
  border: 0;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  margin: 45px 0 0 0;
  padding: 0 0 0 3px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  font-family: inherit;
  /*display: block;*/
}

.form__input:focus {
  outline: none;
}



@media screen and (max-width: 580px) {
  .form__input {
    font-size: 12px;
    line-height: 15px;
  }
}

.form__input_position {
  margin-top: 5px;
}

.form__heading {
  width: 358px;
  height: 23px;
  color: #000;
  margin: 90px 0 0 0;
}

@media screen and (max-width: 580px) {
  .form__heading {
    width: 200px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}

.form__heading_position {
  margin: 32px 0 22px 0;
}

.form__handler {
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  width: 358px;
}

@media screen and (max-width: 580px) {
  .form__handler {
    width: 200px;
  }
}

.form__fields {
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  width: 358px;
  z-index: 5;
  text-align: left;
}

@media screen and (max-width: 580px) {
  .form__fields {
    width: 200px;
  }
}

.form__field {
  display: block;
  min-height: 30px;
}

.form__field_type_error {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  transition: opacity 0.3s;
}

.form__field_hide {
  display:none;
}
.form__checkbox-label{
  margin-bottom: 20px;
  display: inline-block;
}
.form__checkbox{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__checkbox:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.4s ease-out;
}

.form__checkbox:checked + .form__pseudo-item {
  background-image: url("../../images/form_rectangle_black.svg");
  background-repeat: no-repeat;
}


.form__pseudo-item {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-image: url("../../images/form_grey_rect.svg");
  background-repeat: no-repeat;
}


