.form {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding:0 28px 16px 28px;
}

.form__text-email {
  display: inline-block
}

.form__text {
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 16px 0;
  padding: 0;
}

.form__error-text {
  color: red;
  font-size: 12px;
  line-height: 12.8px;
  display: block;
  padding: 0 0 20px 0;
  text-align: left;
}

.form__submit-button {
  border: 0;
  height: 50px;
  background: transparent;
  margin: 20px 0 0 0;
  padding: 0;
  cursor: pointer;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.form__submit-button:hover {
  opacity: 0.8;
  transition: opacity 0.4s ease-out;
}

.form__submit-button:focus {
  outline: none;
}

.form__submit-text {
  margin-right: 10px;
  font-size: 17px;
  line-height: 21px;
  font-weight: 500;
}

.form__input {
  border: 0;
  width: 274px;
  height: 36px;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  background-color: #fff;
  margin: 3px 0 11px 0;
  padding: 0 0 0 3px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  font-family: inherit;
}

.form__input:focus {
  outline: none;
}

.form__input_position {
  margin-top: 5px;
}

.form__heading {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: #000;
  text-align: center;
  align-self: center;
  white-space: normal;
}


.form__handler {
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  width: 330px;
}


.form__fields {
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  text-align: left;
}


.form__field {
  display: block;
  min-height: 30px;
}

.form__field_type_error {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  transition: opacity 0.3s;
}

.form__field_hide {
  display:none;
}
.form__checkbox-label{
  margin: 4px 0 0 0;
  padding: 0 0 0 5px;
  line-height: 12.8px;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  height: 20px;
}
.form__checkbox{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__checkbox:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.4s ease-out;
}

.form__checkbox:hover + .form__pseudo-item {
  background-image: url("../../images/form-hover.svg");
  background-repeat: no-repeat;
}

.form__checkbox:active + .form__pseudo-item {
  background-image: url("../../images/form-click.svg");
  background-repeat: no-repeat;
}

.form__pseudo-item {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-image: url("../../images/form_grey_rect.svg");
  background-repeat: no-repeat;
}

.form__pseudo-item_checked {
  background-image: url("../../images/form_rectangle_black.svg");
}

.form__label {
  margin: 0;
  padding: 0;
  height: 27px;
  display: inherit;
}

.form__field-input {
  max-width: 300px;
}

.form__disclaimer{
  color: #737072;
  font-weight: 400;
  font-size: 12px;
  padding: 0 28px 14px 28px;
}

.sign-up__button {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__submit-button:hover  .sign-up__button {
  background-color: #ee6a4d;
  transition: background-color 0.3s ease-out;
}

.form__submit-button:hover  .form__submit-text {
  color: #ee6a4d;
  transition: color 0.3s ease-out;
}

.form__submit-button:active  .sign-up__button {
  background-color: #d84444;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  transition: height, width, background-color 0.3s ease-out;
}

.form__submit-button:active  .form__submit-text {
  color: #d84444;
  transition: color 0.3s ease-out;
}

.form__submit-button:disabled .form__submit-text {
  color: #bdbeb6;
}

.form__submit-button:disabled .sign-up__button {
  background-color: #bdbeb6;
}


@media screen and (max-width: 580px) {
  .form__input {
    font-size: 12px;
    line-height: 15px;
    width: 220px;
  }
  .form__heading {
    width: 200px;
    font-size: 18px;
    line-height: 22px;
  }
  .form__handler {
    width: 260px;
  }
  .form__fields {
    width: 220px;
  }
  .form__checkbox-label {
    padding-left: 3px;
  }
}

@media screen and (max-width: 460px) {
  .form__input {
    font-size: 12px;
    line-height: 15px;
    width: 220px;
  }
  .form__heading {
    width: 200px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
  }
  .form__handler {
    width: 260px;
  }
  .form__fields {
    width: 220px;
  }
  .form__checkbox-label {
    padding-left: 7px;
    text-align: left;
    margin: 0;
  }
  .form__pseudo-item{
    width: 22px;
  }

  .form__label {
    height: 38px;
  }
}
