.petition__form-btn {
  grid-area: button;
}

.petition-form__submit-btn {
  grid-area: button;
  border: 0;
  margin: 62px 0 0 0;
  text-align: center;
  cursor: pointer;
  padding: 12px 22.5px;
  width: 175px;
  height: 48px;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 16px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1024px) {
  .petition-form__submit-btn {
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  .petition-form__submit-btn {
    margin: 0 0 0 0;
    width: 175px;
    padding: 12px 33.5px;
    height: 44px;
    font-size: 16px;
    line-height: 20px;
  }
}

.petition-form__submit-btn_active {
  background: rgba(0, 0, 0, 1);
  color: #ffffff
}


.petition-form__submit-btn_active:hover {
  background: rgba(238, 106, 77, 1);
  transition: color, 0.2s ease-out;
}

.petition-form__submit-btn_published {
  background: rgb(117,145,150);
  color: #ffffff;
}


.petition-form__submit-btn_active:active {
  background: rgba(216, 68, 68, 1);
  width: 171px;
  height: 40px;
  transition: color, width, height 0.2s ease-out;
}


.petition-form__submit-btn_active:focus {
  border: none;
  outline: none;
}

.petition-form__submit-btn_disabled {
  pointer-events: none;
  user-select: none;
  opacity: 0.6;
  color: #000;
  background: #e5e5e5;
  border: 1px solid #000;
  box-sizing: border-box;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 16px;
}
