.banner__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 62.5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image:  url('../../images/banner.png');
  position: relative;
  z-index: 1;
}

.banner__text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 80px;
  max-height: 400px;
}

.banner {
  max-width: 100%;
}

.banner__title {
  left: 33%;
  max-width: 625px;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
}

.banner__link {
  /* padding: 10px 20px; */
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 0;
  margin: auto;
  color:#fff;
  background-color: #000;
  text-align: center;
}

.banner__link:hover {
  background-color: #ee6a4d;
  transition: color, 0.2s ease-out;
}

.banner__link:active {
  background-color: #d84444;
  font-size: 21px;
  line-height: 26px;
  padding: 5px 14px;
  transition: color,font-size,font-weight 0.2s ease-out;
}

.banner__link-button {
  margin-top: 20px;
  background-color: #000;
  width: 178px;
  height: 53px;
  border-radius: 16px;
  display: flex;
  text-decoration: none;
}

.banner__link-button:hover {
  background-color: #ee6a4d;
  transition: color, 0.2s ease-out;
}

.banner__link-button:active {
  background-color: #d84444;
  width: 163px;
  height: 50px;
  transition: color, width, height 0.2s ease-out;
}


@media screen and (max-width: 1424px) {
  .banner__text-container {
    top: 30px;
  }

  .banner__title {
    font-size: 27px;
    max-width: 430px;
    line-height: 32px;
  }
}

@media screen and (max-width: 1206px) {
  .banner__title {
    font-size: 24px;
    line-height: 28px;
    max-width: 380px;
  }
  .banner__link-button {
    width: 158px;
    height: 48px;
  }

  .banner__link {
    /* padding: 5px 8px; */
    font-size: 20px;
    line-height: 0;
    margin: auto;
    color:#fff;
    background-color: #000;
    text-align: center;
    display: inline-block;
    align-self: center;
    justify-self: center;
  }

  .banner__link-button:active {
    font-size: 20px;
    line-height: 24px;
    background-color: #d84444;
    width: 150px;
    height: 45px;
    transition: color, width, height 0.2s ease-out;
  }
}

@media screen and (max-width: 1118px) {
  .banner__title {
    font-size: 24px;
    line-height: 28px;
    padding-top: 60px;
  }

}

@media screen and (max-width: 865px) {
  .banner__overlay {
    background-image: url('../../images/banner-small.png');
  }

  .banner__text-container {
    top: -14px;
  }

  .banner__title {
    font-size: 18px;
    max-width: 300px;
    padding-top: 50px;
  }
}
@media screen and (max-width: 720px) {
  .banner__title {
    font-size: 17px;
    max-width: 300px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 630px) {
  .banner__title {
    position: initial;
    font-size: 17px;
    max-width: 500px;
    padding: 0 40px;
  }
}

@media screen and (max-width: 567px) {
  .banner {
    padding-top: 70px;
  }

  .banner__text-container {
    top: -63px;
  }

  .banner__title {
    font-size: 16px;
    max-width: 500px;
    line-height: 18px;
    padding: 0 40px;
  }

  .banner__link-button {
    width: 118px;
    height: 35px;
    border-radius: 16px;
    text-decoration: none;
  }

  .banner__link {
    /* padding: 2px 2px; */
    font-size: 14px;
    line-height: 0;
    margin: auto;
    color:#fff;
    background-color: #000;
    text-align: center;
    display: inline-block;
    align-self: center;
    justify-self: center;
  }

  .banner__link:hover {
    background-color: #ee6a4d;
    transition: color, 0.2s ease-out;
  }

  .banner__link:active {
    background-color: #d84444;
    font-size: 15px;
    line-height: 16px;
    padding: 2px 5px;
    transition: color,font-size,font-weight 0.2s ease-out;
  }

  .banner__link-button:active {
    font-size: 15px;
    line-height: 16px;
    background-color: #d84444;
    width: 111px;
    height: 30px;
    transition: color, width, height 0.2s ease-out;
  }
}

@media screen and (max-width: 340px) {
  .banner__link-button {
    margin-top: 10px;
  }
}
