.petition-form__steps {
  width: 82px;
  grid-area: steps;
  margin: 5px 0 0 0;
}

@media screen and (max-width: 950px) {
  .petition-form__steps {
    margin: 0 0 0 0;
  }
}



@media screen and (max-width: 500px) {
  .petition-form__steps {
    display: none;
  }
}

.petition-form__step {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.petition-form__step-num {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.petition-form__step-connector {
  height: 51px;
  margin-left: 20px;
  border-left: 1px solid #6A5F5F;
}

.petition-form__step-connector_position_second {
  height: 109px;
}

.petition-form__step-connector_position_third {
  height: 377px;
}


@media screen and (max-width: 950px) {
  .petition-form__step-connector_position_third {
    height: 703px;
  }
}



.petition-form__step-connector_position_forth {
  height: 124px;
}

.petition-form__step_blot_first {
  background: url("../../images/blot4.svg") no-repeat center;
}

.petition-form__step_blot_second {
  background: url("../../images/blot5.svg") no-repeat center;
}

.petition-form__step_blot_third {
  background: url("../../images/blot6.svg") no-repeat center;
}

.petition-form__step_blot_forth {
  background: url("../../images/blot7.svg") no-repeat center;
}
