.petition-card-list {
  max-width: 1440px;
  min-height: 974px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: center/cover url('../../images/petitionBackground.svg') no-repeat;
  align-items: center;
}

.petion-card-list__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 45px;
  line-height: 1.22;
  color: black;
  padding: 0;
  margin: 150px 0 39px 0;
}

.petition-card-list__options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 0 39px 0;
  /* min-height: 50px; */
  width: 860px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}

.petition-card-list__button {
  border: none;
  box-shadow: none;
  background: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  line-height: 1.22;
  color: #000;
  /* max-width: 419px; */
  box-sizing: border-box;
  margin: 0 0 -1px 0;
  padding: 0 0 16px 0;
  width: 50%;
  outline: none;
  cursor: pointer;
  transition: color 0.3s linear;
}

.petition-card-list__button_active {
  border-bottom: 1px solid #EE6A4D;;
  color: #EE6A4D;
}

.petition-card-list__button:hover {
  border-bottom: 2px solid #759196;
  color: #759196;
}

.petition-card-list__button:active {
  border-bottom: 2px solid #767596;
  color: #767596;
}

.petition-card-list__all-link {
  text-decoration: none;
  color: black;
  text-align: right;
  padding: 0;
  margin: 50px 0 0 0;
  max-width: 860px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  line-height: 1.22;
  transition: color 0.8s linear;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  cursor: pointer;
}

.petition-card-list__all-link:hover {
  color: #EE6A4D;
}

.petition-card-list__all-link:active {
  color: #D84444;
}

.petition-card-list__all-link-arrow {
  padding: 0;
  margin: 0 0 0 12px;
  width:18.41px;
  height: 15.41px;
  background: center/18.41px 15.41px url('../../images/toAllPetitionsArrow.svg') no-repeat;
}

/* стили карусели */
div.rec-carousel {
  justify-content: center;
}

div.rec-slider-container {
  max-width: 900px;
  min-height: 500px;
}

button.rec-arrow, button.rec-arrow:focus:enabled, button.rec-arrow:hover:enabled {
  background-color: rgba(255, 255, 255, 0);
  font-size: 0;
  box-shadow: none;
  width: 22.92px;
  height: 36.67px;
  cursor: pointer;
}

button.rec-arrow:disabled {
  background-color: rgba(255,255,255,0);
  font-size: 0;
  box-shadow: none;
  width: 22.92px;
  height: 36.67px;
  opacity: 0.2;
}

button.rec-arrow-right{
  background: center/contain url('../../images/rightArrow.svg') no-repeat;
}

button.rec-arrow-right:hover:enabled{
  background: center/contain url('../../images/rightArrowHover.svg') no-repeat;
}

button.rec-arrow-right:active{
  background: center/contain url('../../images/rightArrowClick.svg') no-repeat;
}

button.rec-arrow-left{
  background: center/contain url('../../images/leftArrow.svg') no-repeat;
}

button.rec-arrow-left:hover:enabled {
  background: center/contain url('../../images/leftArrowHover.svg') no-repeat;
}

button.rec-arrow-left:active {
  background: center/contain url('../../images/leftArrowClick.svg') no-repeat;
}

button.rec-dot{
  width: 16px;
  height: 16px;
  margin-top: 20px;
  background-color: #C4C4C4;
  box-shadow: none ;
}

button.rec-dot_active,button.rec-dot:hover, button.rec-dot:active:enabled, button.rec-dot:focus:enabled {
  box-shadow: 0 0 1px 1px #EE6A4D;
  background-color: #EE6A4D;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.petition-card-list__progress-bar-loader{
  margin: 200px auto 200px;
  animation: spin 5s linear 0s infinite;
}

@media screen and (min-width:768px) and (max-width: 1024px) {
  
  div.rec-slider-container {
    max-width: 700px;
    min-height: 400px;
  }

  div.rec-pagination {
    margin-top: -45px;
  }

  button.rec-dot {
    width: 11.64px;
    height: 11.2px;
  }

  button.rec-arrow, button.rec-arrow:focus:enabled, button.rec-arrow:hover:enabled, button.rec-arrow:disabled {
    width: 16px;
    height: 26px;
  }

  .petition-card-list {
    min-height: 811px;
  }

  .petition-card-list__options {
    margin-bottom: -20px;
    width: 644px;
  }

  .petition-card-list__button {
    font-size: 16px;
    padding: 0 0 13px 0;
  }

  .petion-card-list__title {
    font-size: 32px;
    margin: 161px 0 56px 0;
  }

  .petition-card-list__all-link {
    font-size: 18.23px;
    text-align: center;
    margin: 34px 0 0 0;
    max-width: 711px;
  }

  .petition-card-list__all-link-arrow {
    padding: 0;
    margin: 0 0 0 8.74px;
    width: 13.42px;
    height: 10.79px;
    background: center/13.42px 10.79px url('../../images/toAllPetitionsArrow.svg') no-repeat;
  }

  .petition-card-list__progress-bar-loader{
    margin: 164px auto 164px;
  }
  
} 

@media screen and (min-width: 501px) and (max-width: 767px) {
  button.rec-dot {
    width: 11.65px;
    height: 11.2px;
    margin-top: 0;
  }

  button.rec-arrow, button.rec-arrow:focus:enabled, button.rec-arrow:hover:enabled, button.rec-arrow:disabled {
    display: none;
  }

  .petition-card-list {
    min-height: 657px;
  }

  .petition-card-list__options {
    width: 322px;
    margin-bottom: 14px;
  }

  .petition-card-list__button {
    font-size: 16px;
    padding: 0 0 9.78px 0;
  }

  .petition-card-list__button_active {
    border-bottom: 1px solid #EE6A4D;;
  }
  
  .petition-card-list__button:hover {
    border-bottom: 1px solid #759196;
  }
  
  .petition-card-list__button:active {
    border-bottom: 1px solid #767596;
  }

  .petion-card-list__title {
    font-size: 32px;
    margin: 65px 0 40px 0;
  }

  .petition-card-list__all-link {
    font-size: 18.32px;
    text-align: center;
    margin: 64px 0 0 0;
    justify-content: center;
  }

  .petition-card-list__all-link-arrow {
    padding: 0;
    margin: 0 0 0 5.5px;
    width: 13.42px;
    height: 10.79px;
    background: center/13.42px 10.79px url('../../images/toAllPetitionsArrow.svg') no-repeat;
  }

  .petition-card-list__progress-bar-loader{
    margin: 294px auto 294px;
  }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  button.rec-dot {
    width: 8px;
    height: 7.62px;
    margin-top: 5px;
  }

  button.rec-arrow, button.rec-arrow:focus:enabled, button.rec-arrow:hover:enabled, button.rec-arrow:disabled {
    display: none;
  }

  .petition-card-list {
    min-height: 657px;
  }

  .petition-card-list__options {
    width: 216px;
    margin-bottom: 24px;
  }

  .petition-card-list__button {
    font-size: 10px;
    padding: 0 0 9.78px 0;
  }

  .petition-card-list__button_active {
    border-bottom: 1px solid #EE6A4D;;
  }
  
  .petition-card-list__button:hover {
    border-bottom: 1px solid #759196;
  }
  
  .petition-card-list__button:active {
    border-bottom: 1px solid #767596;
  }

  .petion-card-list__title {
    font-size: 22px;
    margin: 94px 0 40px 0;
  }

  .petition-card-list__all-link {
    font-size: 12px;
    text-align: center;
    margin: 33px 0 0 0;
    justify-content: center;
  }

  .petition-card-list__all-link-arrow {
    padding: 0;
    margin: 0 0 0 5.5px;
    width: 9.21px;
    height: 7.71px;
    background: center/9.21px 7.71px url('../../images/toAllPetitionsArrow.svg') no-repeat;
  }

  .petition-card-list__progress-bar-loader{
    margin: 228px auto 228px;
  }
}

