.petition-card-list {
  width: 1000px;
  height: 500px;
  margin: auto;
  /* position: relative; */
}

.petition-card-list__options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 0 0 100px;
  min-height: 50px;
}

.petition-card-list__button {
  border: none;
  box-shadow: none;
  background: none;
  margin-left: 30px;
}

.petition-card-list__button_active {
  outline: none;
  border-bottom: 1px solid grey;
}

.petition-card-list__button:hover {
  border-bottom: 1px solid grey;
}