.petition-card-list {
  max-width: 1440px;
  min-height: 1041px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: center/cover url('../../images/petitionBackground.svg') no-repeat;
  align-items: center;
}

.petion-card-list__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 45px;
  line-height: 1.22;
  color: black;
  padding: 0;
  margin: 150px 0 39px 0;
}

.petition-card-list__options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 0 39px 0;
  /* min-height: 50px; */
  width: 860px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}

.petition-card-list__button {
  border: none;
  box-shadow: none;
  background: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  line-height: 1.22;
  color: #000;
  /* max-width: 419px; */
  box-sizing: border-box;
  margin: 0 0 -1px 0;
  padding: 0 0 16px 0;
  width: 50%;
  outline: none;
  transition: color 0.3s linear;
}

.petition-card-list__button_active {
  border-bottom: 1px solid #EE6A4D;;
  color: #EE6A4D;
}

.petition-card-list__button:hover {
  border-bottom: 2px solid #759196;
  color: #759196;
}

.petition-card-list__button:active {
  border-bottom: 2px solid #767596;
  color: #767596;
}

.petition-card-list__all-link {
  text-decoration: none;
  color: black;
  text-align: right;
  padding: 0;
  margin: 50px 0 0 0;
  max-width: 860px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  line-height: 1.22;
  transition: color 0.8s linear;
}

.petition-card-list__all-link:hover {
  color: #EE6A4D;
}

.petition-card-list__all-link:active {
  color: #D84444;
}

/* стили карусели */
div.rec-carousel {
  justify-content: center;
}

div.rec-slider-container {
  max-width: 900px;
  min-height: 500px;
}

button.rec-arrow, button.rec-arrow:focus:enabled, button.rec-arrow:hover:enabled {
  background-color: rgba(255, 255, 255, 0);
  font-size: 0;
  box-shadow: none;
  width: 22.92px;
  height: 36.67px;
}

button.rec-arrow:disabled {
  background-color: rgba(255,255,255,0);
  font-size: 0;
  box-shadow: none;
  min-width: 22.92px;
  width: 22.92px;
  height: 36.67px;
  opacity: 0.2;
}

button.rec-arrow-right{
  background: center/contain url('../../images/rightArrow.svg') no-repeat;
}

button.rec-arrow-right:hover:enabled{
  background: center/contain url('../../images/rightArrowHover.svg') no-repeat;
}

button.rec-arrow-right:active{
  background: center/contain url('../../images/rightArrowClick.svg') no-repeat;
}

button.rec-arrow-left{
  background: center/contain url('../../images/leftArrow.svg') no-repeat;
}

button.rec-arrow-left:hover:enabled {
  background: center/contain url('../../images/leftArrowHover.svg') no-repeat;
}

button.rec-arrow-left:active {
  background: center/contain url('../../images/leftArrowClick.svg') no-repeat;
}

button.rec-dot{
  width: 16px;
  height: 16px;
  background-color: #C4C4C4;
  box-shadow: none ;
}

button.rec-dot_active,button.rec-dot:hover, button.rec-dot:active:enabled, button.rec-dot:focus:enabled {
  /* box-shadow: 0 0 1px 3px #EE6A4D; */
  background-color: #EE6A4D;
}

@media screen and (min-width:768px) and (max-width: 1024px) {
  
  div.rec-slider-container {
    max-width: 700px;
    min-height: 400px;
  }

  div.rec-pagination {
    margin-top: -45px;
  }

  button.rec-dot {
    width: 11.64px;
    height: 11.2px;
  }

  button.rec-arrow, button.rec-arrow:focus:enabled, button.rec-arrow:hover:enabled, button.rec-arrow:disabled {
    width: 16px;
    height: 26px;
  }

  .petition-card-list {
    min-height: 811px;
  }

  .petition-card-list__options {
    margin-bottom: -20px;
    width: 644px;
  }

  .petition-card-list__button {
    font-size: 16px;
    padding: 0 0 13px 0;
  }

  .petion-card-list__title {
    font-size: 32px;
    margin: 161px 0 56px 0;
  }

  .petition-card-list__all-link {
    font-size: 18.23px;
    text-align: center;
    margin: 64px 0 0 0;
  }
  
} 

@media screen and (min-width: 320px) and (max-width: 767px) {
  button.rec-dot {
    width: 8px;
    height: 7.62px;
  }

  button.rec-arrow, button.rec-arrow:focus:enabled, button.rec-arrow:hover:enabled, button.rec-arrow:disabled {
    display: none;
  }

  .petition-card-list {
    min-height: 657px;
  }

  .petition-card-list__options {
    width: 216px;
    margin-bottom: 24px;
  }

  .petition-card-list__button {
    font-size: 10px;
    padding: 0 0 9.78px 0;
  }

  .petition-card-list__button_active {
    border-bottom: 1px solid #EE6A4D;;
  }
  
  .petition-card-list__button:hover {
    border-bottom: 1px solid #759196;
  }
  
  .petition-card-list__button:active {
    border-bottom: 1px solid #767596;
  }

  .petion-card-list__title {
    font-size: 22px;
    margin: 94px 0 40px 0;
  }

  .petition-card-list__all-link {
    font-size: 12px;
    text-align: center;
    margin: 33px 0 0 0;
  }
}
